@use 'variables' as *;

.header {
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: top $transitionDuration;
    background-color: #fff;
    padding: 17px 0;
    border-bottom: 1px solid #e5e5e5;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__logo {
        z-index: 1;
        img {
            max-width: 180px;
            width: 100%;

            @media (max-width: 576px) {
                max-width: 140px;
            }
        }
    }

    &__nav {
        width: 100%;
        max-width: 500px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        @media (max-width: 992px) {
            position: absolute;
            right: -100%;
            top: 0;
            flex-direction: column;
            gap: 25px;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: 100vh;
            background-color: #ffffff;
            transition-duration: $transitionDuration;
        }

        &.active {
            right: 0;
        }

        a {
            transition-duration: .5s;
            position: relative;

            &::before {
                content: '';
                width: 0;
                height: 1px;
                background-color: #000;
                transition-duration: .5s;
                position: absolute;
                left: 0;
                bottom: -3px;
            }

            &:hover {
                color: #000;

                &::before {
                    width: 100%;
                }
            }

            @media (max-width: 992px) {
                font-size: 25px;
            }
        }
    }

    &__burger {
        display: none;
    }

    @media (max-width:992px) {
        &__burger {
            min-width: 20px;
            width: 40px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            z-index: 11;

            span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: $buttonBgColor;
                position: relative;
                transition-duration: $transitionDuration;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $buttonBgColor;
                    transition-duration: $transitionDuration;
                }

                &::before {
                    top: -10px;
                }

                &::after {
                    top: 10px;
                }
            }

            &.active span {
                background-color: transparent;

                &::before {
                    top: 0;
                    transform: rotate(45deg);
                }

                &::after {
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}