<section class="hero">
    <img src="@img/hero/decor.svg" alt="Decor image" draggable="false" class="hero__decor">
    <div class="hero__container">
        <h1 class="hero__title">Створюємо цифрові продукти майбутнього</h1>
        <p class="hero__description">
            Ми спеціалізуємося на розробці сучасних веб-сайтів, мобільних додатків та інтелектуальних ботів, які
            допомагають бізнесу досягати нових висот.
        </p>
        <a href="contacts.html" class="hero__button">Замовити проект</a>
    </div>
</section>